body{
	background-color: #505050;
}

img {
   border-radius: 4px;
   padding: 5px;
   width: 150px;
   display: block;
   margin-left: auto;
   margin-right: auto
}

  
form {
	text-align: center;
	margin: 0 auto;
}

h1{
  text-align: center;
  color: white;
  }
  
p{
	position:down;
  text-align: center;
  color: white;
  }
  

  input[type=submit]{
  background-color: #2D9CDB;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input [type="checkbox"]{
	position: sticky;
}

input{
    width:300px;
    padding:15px;
    margin:5px;
    border-radius:1px;
    border:1px solid #ccc;
    font-family:inherit;
  }
  
.container {
	background-color: #2A2B2F;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	margin: 0 auto;
	overflow: hidden;
	width: 400px;
	height: 600px;
	max-width: 100%;
	min-height: 280px;
}